

html, body
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body
{
  background-color: whitesmoke;
  color: #000000;
}

body, button, input, select, textarea
{
  font: 1em sans-serif;
}

h1
{
  text-decoration: underline;
  text-align: center;
}

p
{
  font-size: 14px;
}

a
{
  color: blue;
  font-size: 12px;
  font-weight: bold;
}

a:hover
{
  color: orange;
  font-family: arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.container
{
  background-color: whitesmoke;
  height: 100vh;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
.grupo
{
  display: grid;
  justify-content: center;
}

.grupo2
{
  display: flex;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.grupo3
{
  display: flex;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

form
{
  margin: 0 auto;
  width: 420px;
}

.entrada
{
  background-color: whitesmoke;
  border: 1px solid blue;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
}

  label
  {
    clear: left;
    float: left;
  }
  
input, select
{
  background-color: white;
  border: 1px solid black;
  outline: none;
  padding: 5px;
}

input:hover, input:focus, input:focus-visible, input:focus-within,
select:hover, select:focus, select:focus-visible, select:focus-within
{
  border: 1px solid orange;
  outline: none;
}

input[type="submit"]
{
  background-color: blue;
  color: white;
  border: 0px solid transparent;
  padding: 10px;
}

input[type="submit"]:hover
{
  background-color: orange;
}

footer
{
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
